In [1]:
import pandas as pd
import numpy as np
import re

from math import sin, cos, sqrt, atan2, radians
import matplotlib.pyplot as plt

import googlemaps

In [2]:
def distance_between_points(lat1,lon1,lat2,lon2):
    
# approximate radius of earth in km
    R = 6378.0

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c
    return distance

In [3]:
# Read Dataset
poi1_df = pd.read_csv("Dataset/Landmarks_and_places_of_interest__including_schools__theatres__health_services__sports_facilities__places_of_worship__galleries_and_museums. (1).csv")
poi2_df = pd.read_csv("Dataset/EventVenuePointsExternal.csv")
bbq_df = pd.read_csv("Dataset/Public_barbecues.csv")

# Toilet Dataset
toilet_df = pd.read_csv("Dataset/Public_toilets.csv")
toilet_df1 = toilet_df

# Water Fountain Dataset
water_df = pd.read_csv('Dataset/Drinking_fountains.csv')

### Clean up POI1 dataset

Section Information :
<table style="margin-left:0">
    <tr>
        <td>Date</td>
        <td>: </td>
        <td> 9 April 2020 </td>
    </tr>
     <tr>
        <td>Time Start</td>
        <td>: </td>
        <td> 10.50 PM </td>
    </tr>
    </table>

In [4]:
poi1_df.head()

,Theme,Sub Theme,Feature Name,Co-ordinates
0,Transport,Railway Station,Flemington Bridge Railway Station,"(-37.7881645889621, 144.939277838304)"
1,Mixed Use,Retail/Office/Carpark,Council House 2 (CH2),"(-37.8142591432011, 144.966638432727)"
2,Place Of Assembly,Library,The Melbourne Athenaeum Library,"(-37.8148855756416, 144.967291289941)"
3,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),Carlton Gardens South,"(-37.8060684577258, 144.971266479841)"
4,Place of Worship,Church,St Francis Church,"(-37.8118847831837, 144.962422614541)"

In [5]:
# Separate Co-ordinates
poi1_df['lat']  = [coord.split('(')[1].split(', ')[0] for coord in poi1_df['Co-ordinates']]
poi1_df['lon'] = [coord.split(')')[0].split(', ')[1] for coord in poi1_df['Co-ordinates']]
poi1_df.head()

,Theme,Sub Theme,Feature Name,Co-ordinates,lat,lon
0,Transport,Railway Station,Flemington Bridge Railway Station,"(-37.7881645889621, 144.939277838304)",-37.7881645889621,144.939277838304
1,Mixed Use,Retail/Office/Carpark,Council House 2 (CH2),"(-37.8142591432011, 144.966638432727)",-37.8142591432011,144.966638432727
2,Place Of Assembly,Library,The Melbourne Athenaeum Library,"(-37.8148855756416, 144.967291289941)",-37.8148855756416,144.967291289941
3,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),Carlton Gardens South,"(-37.8060684577258, 144.971266479841)",-37.8060684577258,144.971266479841
4,Place of Worship,Church,St Francis Church,"(-37.8118847831837, 144.962422614541)",-37.8118847831837,144.962422614541

In [6]:
set(poi1_df['Sub Theme'])

{'Aquarium',
 'Art Gallery/Museum',
 'Bridge',
 'Casino',
 'Cemetery',
 'Church',
 'Cinema',
 'Current Construction Site',
 'Current Construction Site - Commercial',
 'Department Store',
 'Dwelling (House)',
 'Film & RV Studio',
 'Fire Station',
 'Function/Conference/Exhibition Centre',
 'Further Education',
 'Government Building',
 'Gymnasium/Health Club',
 'Hostel',
 'Indoor Recreation Facility',
 'Industrial (Manufacturing)',
 'Informal Outdoor Facility (Park/Garden/Reserve)',
 'Library',
 'Major Sports & Recreation Facility',
 'Marina',
 'Medical Services',
 'Observation Tower/Wheel',
 'Office',
 'Outdoor Recreation Facility (Zoo, Golf Course)',
 'Police Station',
 'Primary Schools',
 'Private Hospital',
 'Private Sports Club/Facility',
 'Public Buildings',
 'Public Hospital',
 'Railway Station',
 'Retail',
 'Retail/Office',
 'Retail/Office/Carpark',
 'Retail/Office/Residential/Carpark',
 'Retail/Residential',
 'School - Primary and Secondary Education',
 'Secondary Schools',
 'Store Yard',
 'Synagogue',
 'Tertiary (University)',
 'Theatre Live',
 'Transport Terminal',
 'Vacant Land - Undeveloped Site',
 'Visitor Centre'}

In [7]:
# Set USE = nan
poi1_df['Use'] = 'nan'

# From Community Use, we will only take the public buildings, exclude courts
## 1. Use = 0 for non Community Use
poi1_df.loc[(poi1_df['Theme'] == 'Community Use') & (poi1_df['Sub Theme']!= 'Public Buildings') , 'Use'] = 0

## 2. Use = 1 for other community use  excluding courts
for idx in poi1_df.loc[(poi1_df['Theme'] == 'Community Use') & (poi1_df['Use']!= 0) ].index:
    # Find court in the Feature name
    if(re.search('court', poi1_df.loc[idx]['Feature Name'].lower()) != None ):
        poi1_df.loc[idx,'Use'] = 0
    else :
        poi1_df.loc[idx,'Use'] = 1
        
# Can use POI: 
poi1_df.loc[poi1_df['Theme'].isin(["Mixed Use",
                                    "Place Of Assembly",
                                    "Place of Worship",
                                    "Purpose Built",
                                    "Retail",
                                    "Transport",
                                    "Leisure/Recreation"]),'Use'] = 1

# Cannot Use POI:
poi1_df.loc[poi1_df['Theme'].isin(["Education Centre",
                                    "Office",
                                    "Health Services",
                                    "Industrial", 
                                    "Office", 
                                    "Residential Accommodation", 
                                    "Specialist Residential Accommodation", 
                                    "Vacant Land", 
                                    "Warehouse/Store"]),'Use'] = 0

# Adding some of the useless Sub Theme POI
poi1_df.loc[poi1_df['Sub Theme'].isin(["Bridge",
                                    "Film & RV Studio",
                                    "Transport Terminal",
                                    "Retail/Residential", 
                                    "Railway Station",
                                    "Retail/Office/Residential/Carpark"]),'Use'] = 0

In [8]:
poi1_final = poi1_df[poi1_df['Use']==1][['Theme','Sub Theme','Feature Name','lat','lon']]
poi1_final['lon'] = pd.to_numeric(poi1_final['lon'])
poi1_final['lat'] = pd.to_numeric(poi1_final['lat'])

In [9]:
poi1_final

,Theme,Sub Theme,Feature Name,lat,lon
1,Mixed Use,Retail/Office/Carpark,Council House 2 (CH2),-37.814259,144.966638
2,Place Of Assembly,Library,The Melbourne Athenaeum Library,-37.814886,144.967291
3,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),Carlton Gardens South,-37.806068,144.971266
4,Place of Worship,Church,St Francis Church,-37.811885,144.962423
5,Place of Worship,Church,Wesley Church,-37.810158,144.968168
...,...,...,...,...,...
234,Retail,Department Store,Myer,-37.813591,144.963855
235,Retail,Department Store,David Jones,-37.813313,144.964373
236,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),Lincoln Square,-37.802792,144.962761
240,Place Of Assembly,Art Gallery/Museum,The Museum Of Australian Chinese History,-37.810769,144.969234
241,Mixed Use,Retail/Office/Carpark,ANZ 'Gothic' Bank,-37.816158,144.961674

## PUBLIC BBQ

In [10]:
#### PUBLIC BARBEQUE DATASET
bbq_df.head()

# Split coordinates to get the lat and lon value
bbq_df['lat'] = [bbq.split("(")[1].split(", ")[0] for bbq in bbq_df['Co-ordinates']]
bbq_df['lon'] = [bbq.split("(")[1].split(", ")[1].split(")")[0] for bbq in bbq_df['Co-ordinates']]

# change lat and lon to numeric value
bbq_df['lat'] = pd.to_numeric(bbq_df['lat'])
bbq_df['lon'] = pd.to_numeric(bbq_df['lon'])

# Trim the 'Barbeque - ' string in the first ddescription 
bbq_df['Feature Name'] = [bbq[11:] for bbq in bbq_df['Description']]

bbq_df['Sub Theme'] = "BBQ"
bbq_df['Theme'] = "BBQ"

bbq_df

,Description,Co-ordinates,lat,lon,Feature Name,Sub Theme,Theme
0,Barbeque - Urban Design Double Hotplate - Waru...,"(-37.79622323577933, 144.9266473544793)",-37.796223,144.926647,Urban Design Double Hotplate - Warun Biik Park,BBQ,BBQ
1,Barbeque - Urban Design Double Hotplate,"(-37.82773337690019, 144.98268472258306)",-37.827733,144.982685,Urban Design Double Hotplate,BBQ,BBQ
2,Barbeque - Urban Design Double Hotplate - Roya...,"(-37.79505808186059, 144.9510416368276)",-37.795058,144.951042,Urban Design Double Hotplate - Royal Park,BBQ,BBQ
3,Barbeque - Urban Design Single Hotplate,"(-37.819821342236914, 144.97480170753713)",-37.819821,144.974802,Urban Design Single Hotplate,BBQ,BBQ
4,Barbeque - Urban Design Single Hotplate - Rive...,"(-37.821250861671416, 144.9642136722747)",-37.821251,144.964214,Urban Design Single Hotplate - Riverside Quay ...,BBQ,BBQ
...,...,...,...,...,...,...,...
57,Barbeque - Urban Design Double Hotplate,"(-37.80955468696855, 144.95495159325935)",-37.809555,144.954952,Urban Design Double Hotplate,BBQ,BBQ
58,Barbeque - Urban Design Single Hotplate,"(-37.782001069469686, 144.956631830226)",-37.782001,144.956632,Urban Design Single Hotplate,BBQ,BBQ
59,Barbeque - Urban Design Double Hotplate Spanni...,"(-37.824260053373365, 144.9776466199352)",-37.824260,144.977647,Urban Design Double Hotplate Spanning Two Unit...,BBQ,BBQ
60,Barbeque - Urban Design Single Hotplate,"(-37.829648035597195, 144.96496602596258)",-37.829648,144.964966,Urban Design Single Hotplate,BBQ,BBQ
61,Barbeque - Urban Design Single Hotplate - Fawk...,"(-37.84077622109281, 144.98393881060923)",-37.840776,144.983939,Urban Design Single Hotplate - Fawkner Park,BBQ,BBQ

## JOIN PUBLIC BBQ and POIs

In [11]:
poi1_final = poi1_final.append(bbq_df, sort=False)

### Adding Address to Dataset
https://data.melbourne.vic.gov.au/Property/Street-addresses/a7rp-xtya

In [12]:
add_df = pd.read_csv('Dataset/Address_Points.csv')

add_df2 = add_df[['LATITUDE','LONGITUDE','AddressPnt']]
add_df2.columns = ['lat','lon','Address']


def get_address(lat,lon):
    '''
    Given the latitude and longitude
    output : Address - string
    '''
    address_df = add_df2
    # Get the differences between points
    address_df['distance'] =np.vectorize(distance_between_points)(lat,lon,address_df['lat'], address_df['lon'])
    address_sort_df = address_df.sort_values(by='distance').reset_index()
    
    # Uncomment to debug, the distance between point and address
    # print(address_sort_df.loc[0]['distance'], address_sort_df.loc[0]['Address'])
    return address_sort_df.loc[0]['Address']

# Get the address
poi1_final['Address'] = np.vectorize(get_address)(poi1_final['lat'],poi1_final['lon'])

/Users/lilianaester/anaconda3/envs/newwnv/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
# Set poi_id 
poi1_final = poi1_final.reset_index()
poi1_final['poi_id'] = [i+1 for i in poi1_final.index]
print("Number of POI from poi1:" , len(poi1_final))
poi1_final_csv = poi1_final[['poi_id','Feature Name','Theme', 'Sub Theme', 'Address','lat','lon']]
poi1_final_csv.columns= ['poi_id','Name','Theme', 'Sub Theme','Address', 'lat','lon']

Number of POI from poi1: 219

In [14]:
poi1_final_csv.to_csv('Dataset/Final/POI_FINAL.csv',index=False)

### Clean up and Join Public Toilet Dataset

Section Information :
<table style="margin-left:0">
    <tr>
        <td>Date</td>
        <td>: </td>
        <td> 10 April 2020 </td>
    </tr>
     <tr>
        <td>Time Start</td>
        <td>: </td>
        <td> 8.40 PM </td>
    </tr>
     <tr>
        <td>End Start</td>
        <td>: </td>
        <td> 8.40 PM </td>
    </tr>
    </table>

In [15]:

toilet_df1['lon'] = pd.to_numeric(toilet_df1['lon'])
toilet_df1['lat'] = pd.to_numeric(toilet_df1['lat'])
print(toilet_df1.head())
print(toilet_df1.describe())

                                                name female male wheelchair  \
0  Public Toilet - Toilet 140 - Queensberry Stree...     no  yes         no
1  Public Toilet - Toilet 106 - Kings Domain Gove...    yes  yes         no
2  Public Toilet - Queen Victoria Market (153 Vic...    yes  yes         no
3  Public Toilet - Victoria Harbour, Shed 3 (Nort...     no  yes         no
4  Public Toilet - Toilet 6 - Elizabeth Street (T...    yes   no         no

            operator baby_facil        lat         lon
0  City of Melbourne         no -37.803995  144.959091
1  City of Melbourne         no -37.826916  144.974648
2  City of Melbourne         no -37.806121  144.956538
3  City of Melbourne         no -37.819796  144.937665
4  City of Melbourne         no -37.813838  144.963097
             lat         lon
count  74.000000   74.000000
mean  -37.810676  144.961615
std     0.014212    0.014872
min   -37.845207  144.921106
25%   -37.819286  144.955233
50%   -37.812138  144.962886
75%   -37.802803  144.972442
max   -37.778950  144.986859

In [16]:
poi1_final

,index,Theme,Sub Theme,Feature Name,lat,lon,Description,Co-ordinates,Address,poi_id
0,1,Mixed Use,Retail/Office/Carpark,Council House 2 (CH2),-37.814259,144.966638,NaN,NaN,236 Little Collins Street Melbourne,1
1,2,Place Of Assembly,Library,The Melbourne Athenaeum Library,-37.814886,144.967291,NaN,NaN,190 Collins Street Melbourne,2
2,3,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),Carlton Gardens South,-37.806068,144.971266,NaN,NaN,Carlton Gardens South Victoria Street Carlton,3
3,4,Place of Worship,Church,St Francis Church,-37.811885,144.962423,NaN,NaN,274 Elizabeth Street Melbourne,4
4,5,Place of Worship,Church,Wesley Church,-37.810158,144.968168,NaN,NaN,138 Lonsdale Street Melbourne,5
...,...,...,...,...,...,...,...,...,...,...
214,57,BBQ,BBQ,Urban Design Double Hotplate,-37.809555,144.954952,Barbeque - Urban Design Double Hotplate,"(-37.80955468696855, 144.95495159325935)","Flagstaff Gardens Tennis Courts, Flagstaff Gar...",215
215,58,BBQ,BBQ,Urban Design Single Hotplate,-37.782001,144.956632,Barbeque - Urban Design Single Hotplate,"(-37.782001069469686, 144.956631830226)",11 Old Poplar Road Parkville,216
216,59,BBQ,BBQ,Urban Design Double Hotplate Spanning Two Unit...,-37.824260,144.977647,Barbeque - Urban Design Double Hotplate Spanni...,"(-37.824260053373365, 144.9776466199352)",Alexandra Park Alexandra Avenue Melbourne,217
217,60,BBQ,BBQ,Urban Design Single Hotplate,-37.829648,144.964966,Barbeque - Urban Design Single Hotplate,"(-37.829648035597195, 144.96496602596258)",276 Sturt Street Southbank,218
218,61,BBQ,BBQ,Urban Design Single Hotplate - Fawkner Park,-37.840776,144.983939,Barbeque - Urban Design Single Hotplate - Fawk...,"(-37.84077622109281, 144.98393881060923)",99 Pasley Street South Yarra,219

In [17]:
def get_nearest_items(lat,lon,poi_id, df, restriction=1):
    '''
    Given the latitude, longitude, and the respective poi_id
    output : dataframe of the nearest public toilet
    '''
    place_df = df
    # Get the differences between points
    place_df['distance'] =np.vectorize(distance_between_points)(lat,lon,place_df['lat'], place_df['lon'])
    
    place_sort_df = place_df.sort_values(by='distance').reset_index()
    # Make sure atleast there is 1 female, male, and wheelchair accessible toilet
    show = 3 
    if restriction == 1 :
        while ((len(place_sort_df.head(show).loc[place_sort_df['female'] == 'yes']) < 1) &
              (len(place_sort_df.head(show).loc[place_sort_df['male'] == 'yes']) < 1) &
              (len(place_sort_df.head(show).loc[place_sort_df['wheelchair'] == 'yes']) <1)):
            show = show+1
            if show > 6:
                break
    place_sort_df['poi_id'] = poi_id
    
    return place_sort_df.head(show)

In [18]:

for i in poi1_final.index:
    res_df = get_nearest_items(poi1_final.loc[i]['lat'],
                         poi1_final.loc[i]['lon'],
                         poi1_final.loc[i]['poi_id'],
                        toilet_df)

    if i==0:
        toilet_final_df = res_df
    else:
        toilet_final_df = toilet_final_df.append(res_df)
            
# np.vectorize(get_toilets)(poi1_final['lat'],poi1_final['lat'],poi1_final['Feature Name'])
# get_toilets(-37.8069431,144.9588825, 'Queen Victoria Market')

In [19]:
toilet_final_df.head()

,index,name,female,male,wheelchair,operator,baby_facil,lat,lon,distance,poi_id
0,30,Public Toilet - Town Hall Melbourne (200 Colli...,yes,yes,yes,City of Melbourne,yes,-37.815216,144.966943,6.399730,1
1,61,Public Toilet - Toilet 46 - Bourke Street (opp...,yes,yes,yes,City of Melbourne,no,-37.813245,144.966897,6.669144,1
2,4,Public Toilet - Toilet 6 - Elizabeth Street (T...,yes,no,no,City of Melbourne,no,-37.813838,144.963097,22.597263,1
0,30,Public Toilet - Town Hall Melbourne (200 Colli...,yes,yes,yes,City of Melbourne,yes,-37.815216,144.966943,3.048874,2
1,61,Public Toilet - Toilet 46 - Bourke Street (opp...,yes,yes,yes,City of Melbourne,no,-37.813245,144.966897,10.755594,2

In [20]:
# Save the dataset
# toilet_final_df = toilet_final_df.reset_index()
toilet_final_df['toilet_id'] = [i+1 for i in toilet_final_df.index]
toilet_final_df = toilet_final_df[['toilet_id','poi_id','name','female','male','wheelchair','lat','lon','distance']]
toilet_final_df.to_csv('Dataset/Final/Nearest_public_toilet.csv', index=False)

### Adding The Group Activity

Created : 22 April 2020

In [21]:
list_interest = ['library',
                 'cinema',
                 'sport',
                 'hangout',
                 'religious',
                 'spectator of sport',
                 'museum',
                 'park',
                 'shopping',
                 'bbq']

In [22]:
# Create a zip object from two lists
zipbObj = zip(list_interest, [x+1 for x in range(len(list_interest))])
 
# Create a dictionary from zip object
interest_dict = dict(zipbObj)

In [23]:
interest_dict

{'library': 1,
 'cinema': 2,
 'sport': 3,
 'hangout': 4,
 'religious': 5,
 'spectator of sport': 6,
 'museum': 7,
 'park': 8,
 'shopping': 9,
 'bbq': 10}

In [24]:
poi_sub_theme_activity_dict = dictionary = {
    "Function/Conference/Exhibition Centre":["hangout"],
    "Retail/Office":["shopping"],
    "Synagogue":["religious"],
    "Department Store":["shopping"],
    "Casino":["hangout"],
    "Retail/Office/Carpark":["shopping"],
    "Indoor Recreation Facility":["sport"],
    "Cinema":["cinema"],
    "Library":["library"],
    "Private Sports Club/Facility":["sport"],
    "Observation Tower/Wheel":["hangout"],
    "Marina":["hangout"],
    "Church":["religious"],
    "Informal Outdoor Facility (Park/Garden/Reserve)":["hangout","sport","park"],
    "Art Gallery/Museum":["museum"],
    "Major Sports & Recreation Facility":["spectator of sport"],
    "Outdoor Recreation Facility (Zoo, Golf Course)":["hangout", "sport","park"],
    "Theatre Live":["cinema"],
    "Public Buildings":["hangout","park","spectator of sport"],
    "Aquarium":["hangout"],
    "Retail":["shopping"],
    "Gymnasium/Health Club":["sport"],
    "BBQ":["bbq"]
}

In [25]:
poi1_final['interest'] = [', '.join(poi_sub_theme_activity_dict[i]) for i in poi1_final['Sub Theme']]

In [26]:
poi1_final_csv = poi1_final[['poi_id',
            'Feature Name',
            'Theme', 
            'Sub Theme', 
            'Address',
            'lat','lon',
            'interest']]
poi1_final_csv.to_csv('Dataset/Final/POI_FINAL.csv',index=False)

In [27]:
## UPDATED AS PREVIOUS CELL
# poi_ids = []
# poi_interests = []

# for idx in poi1_final.index:
#     interest_list = poi_sub_theme_activity_dict[poi1_final.loc[idx]['Sub Theme']]
#     for interest in interest_list:
#         poi_ids.append(poi1_final.loc[idx]['poi_id'])
#         poi_interests.append(interest_dict[interest])
        
# interest_poi_df = pd.DataFrame({
#                                 "poi_interest_id": [idx+1 for idx in range(len(poi_ids))],
#                                 "poi_id":poi_ids,
#                                 "interest_id": poi_interests
#                                })
# interest_poi_df

In [28]:
# interest_poi_df.to_csv('Dataset/Final/interest_poi.csv', index=False)

# Export interest list
interest_df = pd.DataFrame(interest_dict.items(),columns=['name','interest_id']) 
interest_df.to_csv('Dataset/Final/interest.csv', index=False)

### Add Water Fountain Data

Created : 22 April 2020

In [29]:
water_df

,Description,Co-ordinates,lat,lon
0,Drinking Fountain - Stainless Steel Drinking F...,"(-37.815185695578855, 144.95257756009232)",-37.815186,144.952578
1,Drinking Fountain - Stainless Steel Drinking F...,"(-37.824688315009205, 144.94695310036423)",-37.824688,144.946953
2,Drinking Fountain - Stainless Steel Drinking F...,"(-37.819376190936254, 144.96425791163875)",-37.819376,144.964258
3,Drinking Fountain - Stainless Steel Drinking F...,"(-37.81337112781817, 144.94357125504956)",-37.813371,144.943571
4,Drinking Fountain - Treated Timber Drinking Fo...,"(-37.79365820618429, 144.92352614663906)",-37.793658,144.923526
...,...,...,...,...
296,Drinking Fountain - Stainless Steel Drinking F...,"(-37.82317712092532, 144.94186784766944)",-37.823177,144.941868
297,Drinking Fountain - Leaf Type - With Bottle Re...,"(-37.82168006484173, 144.9700370336942)",-37.821680,144.970037
298,Drinking Fountain - Stainless Steel Drinking F...,"(-37.82605853691661, 144.9615312833258)",-37.826059,144.961531
299,Drinking fountain - Historic or Heritage Drink...,"(-37.827087271632976, 144.98504460154422)",-37.827087,144.985045
300,Drinking Fountain - Stainless Steel Drinking F...,"(-37.8212095645359, 144.9694728091101)",-37.821210,144.969473

In [30]:
get_nearest_items(-37.815186,144.952578,'V',water_df,0)[['Description','lat','lon','distance']].to_csv('temp.csv')

In [31]:
water_final_df = []
for i in poi1_final.index:
    res_df = get_nearest_items(poi1_final.loc[i]['lat'],
                         poi1_final.loc[i]['lon'],
                         poi1_final.loc[i]['poi_id'],
                        water_df, 0)

    if i==0:
        water_final_df = res_df
    else:
        water_final_df = water_final_df.append(res_df)

In [32]:
water_final_df

,index,Description,Co-ordinates,lat,lon,distance,poi_id
0,232,Drinking Fountain - Stainless Steel Drinking F...,"(-37.81437201868546, 144.96613327636365)",-37.814372,144.966133,3.280500,1
1,83,Drinking Fountain - Stainless Steel Drinking F...,"(-37.81331469375451, 144.9666513135716)",-37.813315,144.966651,6.024251,1
2,259,Drinking Fountain - Stainless Steel Drinking F...,"(-37.815447719564624, 144.96705501075527)",-37.815448,144.967055,8.027003,1
0,259,Drinking Fountain - Stainless Steel Drinking F...,"(-37.815447719564624, 144.96705501075527)",-37.815448,144.967055,3.885271,2
1,232,Drinking Fountain - Stainless Steel Drinking F...,"(-37.81437201868546, 144.96613327636365)",-37.814372,144.966133,8.034562,2
...,...,...,...,...,...,...,...
1,13,Drinking Fountain - Treated Timber Drinking Fo...,"(-37.828673986591355, 144.9672264971803)",-37.828674,144.967226,15.587090,218
2,199,Drinking Fountain - Stainless Steel Drinking F...,"(-37.826019122772884, 144.96821302911962)",-37.826019,144.968213,30.943686,218
0,205,Drinking Fountain - Stainless Steel Drinking F...,"(-37.840591031294394, 144.9842020334054)",-37.840591,144.984202,2.038987,219
1,108,Drinking fountain - unspecified type - Fawkner...,"(-37.84105383065132, 144.98474159117376)",-37.841054,144.984742,5.369092,219
2,164,Drinking Fountain - Leaf Type - With Bottle Re...,"(-37.84249232047023, 144.9843961780638)",-37.842492,144.984396,11.319758,219

In [33]:
# Save the dataset
water_final_df['water_id'] = [i+1 for i in range(len(water_final_df))]
water_final_df = water_final_df[['water_id','poi_id','Description','lat','lon','distance']]
water_final_df.to_csv('Dataset/Final/Nearest_water_fountain.csv', index=False)

## DONE HERE for ITERATION 1

### GOOGLE MAPS

In [34]:
# gmaps = googlemaps.Client(key='AIzaSyAJA2i0GRCZV3EweKSBfMggeLuP9iZ3zhA')
# res = gmaps.reverse_geocode((-37.810769,144.969234))
# res[0]['formatted_address']

### Fixing Double Entry

In [35]:
# Find double entry
for i in poi1_final.index:
    near_poi = [poi1_final.loc[j,'Feature Name']  for j in poi1_final.index if (distance_between_points(poi1_final.loc[i,'lat'],
                                                            poi1_final.loc[j,'lon'],
                                                            poi1_final.loc[j,'lat'],
                                                            poi1_final.loc[i,'lon']) < 6) & (i!= j )]
    
    poi_idx = [j for j in poi1_final.index if (distance_between_points(poi1_final.loc[i,'lat'],
                                                            poi1_final.loc[j,'lon'],
                                                            poi1_final.loc[j,'lat'],
                                                            poi1_final.loc[i,'lon']) < 6) & (i!= j )]
    
    
    poi1_final.loc[i,'Near'] = str(near_poi)
    poi1_final.loc[i,'poi_idx'] = str(poi_idx)
    poi1_final.loc[i,'Count'] = len(near_poi)